openapi: 3.0.3
info:
  title: Head Of TP API
  version: 1.0.0
servers:
  - url: https://api.headoftp.com
tags:
  - name: device
    description: device
paths:
  /device/old:
    post:
      tags:
        - device
      operationId: createDeviceLocationOld
      summary: Create a device location
      parameters:
        - in: query
          name: id
          schema:
            type: string
          required: false
        - in: query
          name: timestamp
          schema:
            type: string
          required: false
        - in: query
          name: lat
          schema:
            type: string
          required: false
        - in: query
          name: lon
          schema:
            type: string
          required: false
        - in: query
          name: speed
          schema:
            type: string
          required: false
        - in: query
          name: bearing
          schema:
            type: string
          required: false
        - in: query
          name: altitude
          schema:
            type: string
          required: false
        - in: query
          name: accuracy
          schema:
            type: string
          required: false
        - in: query
          name: batt
          schema:
            type: string
          required: false
      responses:
        200:
          description: Device location successfully created
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
  /device:
    post:
      tags:
        - device
      operationId: createDeviceLocation
      summary: Create a device location
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeviceLocationRequest'
      responses:
        200:
          description: Device location successfully created
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
    get:
      tags:
        - device
      operationId: findAllDevices
      summary: Find all devices
      responses:
        200:
          description: return Devices successfully processed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceResponse'
components:
  schemas:
    CreateDeviceLocationRequest:
      required:
        - location
        - device_id
      properties:
        location:
          $ref: '#/components/schemas/DeviceLocation'
        device_id:
          type: string
    DeviceLocation:
      required:
        - timestamp
        - coords
        - is_moving
        - odometer
        - battery
      properties:
        timestamp:
          type: string
        coords:
          $ref: '#/components/schemas/DeviceLocationCoords'
        is_moving:
          type: boolean
        odometer:
          type: integer
          format: int64
        battery:
          $ref: '#/components/schemas/DeviceLocationBattery'
    DeviceLocationCoords:
      required:
        - latitude
        - longitude
        - accuracy
        - speed
        - heading
        - altitude
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        accuracy:
          type: number
          format: double
        speed:
          type: number
          format: double
        heading:
          type: number
          format: double
        altitude:
          type: number
          format: double
    DeviceLocationBattery:
      required:
        - level
        - is_charging
      properties:
        level:
          type: number
          format: double
        is_charging:
          type: boolean
    DeviceResponse:
      required:
        - id
      properties:
        id:
          type: string
          example: 72839
    ProblemDetailResponse:
      required:
        - title
        - status
        - detail
        - instance
      properties:
        title:
          type: string
          description: A short, human-readable summary of the problem type
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /device
